<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <style>
        header {
            background-color: blue;
            padding: 1em;
            text-align: center;
            font-size: 1.5em;
        }

        nav {
            text-align: center;
            background-color: #333;
            color: white;
            padding: 0.5em;
        }

            nav a {
                color: white;
                text-decoration: none;
                padding: 0.5em 1em;
            }

        main {
            padding: 2em;
            background-color: #f9f9f9;
        }

        form div {
            margin-bottom: 1em;
        }

        button, input[type="submit"] {
            background-color: #4CAF50;
            color: white;
            /* border: none; */
            padding: 0.5em 1em;
            text-align: center;
            /* text-decoration: none; */
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            /* transition-duration: 0.4s; */
            cursor: pointer;
        }

            button:hover, input[type="submit"]:hover {
                background-color: white;
                color: black;
                border: 1px solid #4CAF50;
            }
    </style>
</head>
<body>
    <header>
        Movie Database
    </header>

    <nav>
        <a href="/movies/index">Movie Index</a> |
        <a href="/movies/create">Add Movie</a> |
        <a href="/movies/delete">Delete Movie</a> |
        <a href="/movies/update">Update Movie</a>
    </nav>

    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</body>
</html>
